@use 'reset';
@use 'fonts';
@use 'vars';
@use '../../node_modules/swiper/swiper-bundle.css';
@use 'global';

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.3;
  color: vars.$color-grey;
  @extend %opensans-400;
}

.promo {
  text-align: center;
  background-color: vars.$color-light-grey;

  &__text {
    padding: 7px 0 9px;
    text-transform: uppercase;
    font-size: 11px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title-l4 {
  font-size: 45px;
  color: vars.$color-black;
  text-transform: uppercase;
  font-family: 'Lora-Regular', serif;
  font-weight: 400;
}

.header {
  padding: 35px 0;
  color: vars.$color-black;
  text-transform: uppercase;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__lang {
    display: flex;

    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 0 20px;
    align-items: center;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.logo {
  display: inline-block;
}

.logo__header {
  color: vars.$color-black;
}

.logo__footer {
  color: vars.$color-white;
}


.menu {
  &__list {
    display: flex;
    gap: 0 30px;
  }
}

.footer {
  color: vars.$color-white;
  background-color: vars.$color-blue;

  &__menu {
    padding: 60px 0;
    border-bottom: 1px solid vars.$color-light-grey;
  }

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  &__menu-link {
    border-bottom: 1px solid rgb(255, 255, 255, .35);
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__element-title {
    opacity: .5;
    margin-bottom: 20px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    padding: 1px 30px 5px 0;
    color: vars.$color-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$color-light-grey;

    &::placeholder {
      color: vars.$color-white;
    }
  }

  &__form-btn {
    position: absolute;
    top: 5px;
    right: 0px;
  }

  &__bottom {
    background-color: vars.$color-black;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 11px;
  }

  &__bottom-copy {
    padding-left: 75px;
  }

  &__bottom-list {
    display: flex;
    gap: 0 37px;
    padding-right: 75px;
  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -20px;
    }
  }
}

.top {
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {
    max-width: 520px;
  }

  &__title {
    padding-top: 260px;
    font-size: 75px;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  &__link {
    padding: 12px 38px;
    text-transform: uppercase;
    color: vars.$color-white;
    background-color: vars.$color-black;
    border-radius: 3px;
    font-size: 20px;
  }
}

.collections {
  margin-bottom: 50px;
}

.new-collection {
  &__inner {
    padding: 150px 0 90px 0;
    display: flex;
  }

  &__content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-top: 75px;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 20px;
    width: 400px;
  }

  &__text+.new-collection__text {
    margin-top: 25px;
  }

  &__link {
    display: inline-block;
    padding: 10px 65px;
    border: 1px solid;
    color: vars.$color-black;
    margin-top: auto;
    align-self: start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding-right: 30px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    min-width: fit-content;
  }

  &__box-text {
    width: 290px;
    font-size: 20px;
    padding-left: 40px;
    margin-top: auto;
    margin-bottom: 70px;
    text-transform: uppercase;
  }
}

.joinus {
  background-color: vars.$color-blue;
  color: vars.$color-white;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;

  &__img {
    width: 780px;
    height: 614px;
    background-position: center;
  }

  &__contant {
    max-width: 580px;
    padding-left: 40px;
    align-content: center;
  }

  &__title {
    color: #fff;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
    font-family: 'Lora-Regular', serif;
    font-weight: 400;
    font-size: 30px;
  }

  &__form {
    margin-bottom: 40px;
    font-size: 20px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
    color: #fff;
  }

  &__input::placeholder {
    color: #fff;
    font-size: 20px;
  }

  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 0;
    background-color: vars.$color-black;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
  }

  &__bottom-text {
    font-size: 11px;
    text-align: center;
  }
}

.d-backham {
  margin-bottom: 230px;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__contant {
    max-width: 540px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__caption {
    max-width: 415px;
    padding: 20px 27px;
    color: #fff;
    background-color: vars.$color-blue;
    margin: 70px 0;
    @extend %lora-400;
    font-size: 20px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    padding: 10px 0;
    border: 1px solid;
    color: vars.$color-black;
    margin-top: auto;
    text-align: center;
  }
}

.our-advantages {
  background-color: vars.$color-blue;
  color: #fff;
  margin-bottom: 150px;

  &__contant {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__wrapper {
    padding: 60px 0 38;
    margin-left: auto;
  }

  &__title {
    color: #fff;
    margin-bottom: 50px;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
    padding-left: 30px;
  }

  &__item {
    list-style: disc;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.our-blog {
  margin-bottom: 90px;

  &__inner {
    display: flex;
    gap: 20px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    max-width: 540px;
    margin-bottom: 70px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__box-link {
    margin-bottom: 5px;
    font-size: 20px;
    @extend %lora-400;
  }

  &__box-date {
    margin-bottom: 96px;
  }

  &__box {
    max-width: 300px;
  }

  &__box-btn {
    display: block;
    padding: 10px 0;
    border: 1px solid;
    color: vars.$color-black;
    margin-top: auto;
    text-align: center;
  }
}

.collections {
  margin-bottom: 40px;

  &__title {
    text-transform: uppercase;
    font-size: 54px;
    @extend %lora-400;
    margin-bottom: 60px;
    text-align: center;
  }

  &__gallery-box {
    display: grid;
    grid-template-areas: "aa aa ba bc"
      "aa aa ca cb"
      "ac ab ee ee"
      "ea eb ee ee"
      "fa fb da db";
    gap: 40px;
  }

  &__gallery-item {
    position: relative;

    &:nth-child(1) {
      grid-area: aa;
      height: fit-content;
    }

    &:nth-child(2) {
      grid-area: ba;
    }

    &:nth-child(3) {
      grid-area: bc;
    }

    &:nth-child(4) {
      grid-area: ca;
    }

    &:nth-child(5) {
      grid-area: cb;
    }

    &:nth-child(6) {
      grid-area: ac;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(7) {
      grid-area: ab;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(8) {
      grid-area: ea;
    }

    &:nth-child(9) {
      grid-area: eb;
    }

    &:nth-child(10) {
      grid-area: ee;
      height: fit-content;
    }

    &:nth-child(11) {
      grid-area: fa;
    }

    &:nth-child(12) {
      grid-area: fb;
    }

    &:nth-child(13) {
      grid-area: da;
    }

    &:nth-child(14) {
      grid-area: db;
    }
  }

  &__gallery-link {
    position: absolute;
    top: 10px;
    right: 6px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}


.appointment {
  margin-bottom: 100px;

  &__title {
    margin-top: 15px;
    margin-bottom: 80px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  &__contant {
    width: 540px;
    display: flex;
    flex-direction: column;
  }

  &__contant-title {
    margin-bottom: 80px;
    font-size: 30px;
  }

  &__contant-text {
    margin-bottom: 30px;
    font-size: 20px;
    @extend %opensans-700;
  }

  &__contant-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  &__contant-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$color-grey;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &__contant-btn {
    margin-top: auto;
    padding: 12px 0;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background-color: vars.$color-black;
  }
}

.product {
  margin-bottom: 150px;

  &__inner {
    display: flex;
    gap: 0 40px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    picture:nth-child(2) {
      grid-row: span 2;
    }

    img {
      max-width: max-content;
    }
  }

  &__contant {
    max-width: 505px;
    display: flex;
    flex-direction: column;
  }

  &__contant-title {
    margin-bottom: 30px;
  }

  &__contant-price {
    margin-bottom: 30px;
    @extend %opensans-700;
    font-size: 25px;
  }

  &__contant-term:nth-child(1) {
    margin-bottom: 30px;
  }

  &__contant-term {
    margin-bottom: 5px;
    @extend %opensans-700;
  }


  &__contant-difinition {
    margin: 0;
    margin-bottom: 30px;
  }

  &__contant-difinition-radio {
    display: flex;
    gap: 30px;
  }

  &__contant-difinition-checkbox {
    display: flex;
    gap: 10px;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
    margin-top: auto;
  }

  &__btn {
    padding: 9px;
    border-radius: 3px;
    border: 1px solid vars.$color-grey;
    background-color: transparent;
    color: vars.$color-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


  &__btns-addtobag {
    grid-column: 1/-1;
    text-transform: uppercase;
    font-size: 20px;
  }

}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked+.radio-style::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: vars.$color-grey;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.radio-style {
  position: absolute;
  margin-left: -26px;
  margin-top: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid vars.$color-grey;
}

.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked+.check-style::before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: vars.$color-grey;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}


.check-style {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
  height: 15px;
  width: 15px;
  border-radius: 1px;
  border: 1px solid vars.$color-grey;
}

.radio-label {
  padding-left: 26px;
}

.check-label {
  padding-left: 20px;
}


.look {
  &__perfect {
    margin-bottom: 90px;
  }

  &__perfect-title {
    max-width: 890px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid vars.$color-grey;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  &__perfect-slider {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
  }

  &__perfect-slide {
    text-align: center;
  }

  &__perfect-name {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__perfect-price {
    @extend %opensans-700;
    font-size: 20px;
  }

  &__perfect-arrow {
    position: absolute;
    cursor: pointer;
    top: 41%;
    z-index: 10;
  }

  &__perfect-arrow-prev {
    left: 4px;
  }

  &__perfect-arrow-next {
    right: 4px;
  }

}

.page-404 {
  &__container {
    max-width: 1560px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    color: vars.$color-black;
  }

  &__contant {
    margin: 0 15px 0 35px;
    margin-top: auto;
    margin-bottom: 57px;
    @extend %lora-400;
  }

  &__contant-title {
    margin-bottom: 80px;
    font-size: 160px;
  }

  &__contant-link {
    font-size: 48px;
    text-transform: uppercase;
    display: inline-block;
    display: flex;
    align-items: end;
    gap: 0 20px;

    img {
      height: 90px;
      width: 90px;
    }
  }
}

.runline {
  opacity: 0.2;
  overflow: hidden;
  &__text {
    display: flex;
    align-items: center;
    gap: 0 40px;
    text-transform: uppercase;
    color: vars.$color-black;
    font-size: 160px;
    white-space: nowrap;
    animation: runline;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  img {
    height: 115px;
    width: 130px;
  }

}

@keyframes runline{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}