<section class="joinus">
    <picture>
        <source srcset="images/join-us.avif" type="image/avif">
        <source srcset="images/join-us.webp" type="image/webp">
        <img class="joinus__img" src="images/join-us.jpg" alt="Alt text">
    </picture>
    <div class="joinus__contant">
        <h2 class="joinus__title">JOIN US</h2>
        <p class="joinus__text">Sign up and get 10% discount on your first purchase!</p>
        <form class="joinus__form">
            <input class="joinus__input" type="text" placeholder="First Name">
            <input class="joinus__input" type="email" placeholder="Email">
        </form>
        <button class="joinus__btn" type="submit">GET 10%</button>
        <p class="joinus__bottom-text">
            *By compleating this form you are signing up to receive our emails and can unsubscribe at any
            time.
        </p>
    </div>
</section>